<style>
  #container {
    width: 100%;
    max-width: 960px;
    margin: 20px auto;
  }

  h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
  }

  .box {
    display: inline-block;
    padding: 10px 60px;
  }

  .box img {
    padding: 0 2px;
  }

  @media only screen and (max-width: 950px) {
      .stockistsblock{
          height: 100px;
      }
  }

  .stockistsblock {
    width: 49%;
    float: left;
    text-align: center;
    border: 1px solid #80808047;
    padding: 20px;
  }
  .stockistsblockfull {
    width: 98%;
    float: left;
    text-align: center;
    border: 1px solid #80808047;
    padding: 20px;
  }
</style>

<div id="container">
  <div class="box-stockists">
    <div class="stockistsblock">
      <h2><span style="color: #808080">Antara</span></h2>
      <h3><span style="color: #404040">Hyderabad</span></h3>
    </div>
    <div class="stockistsblock">
      <h2><span style="color: #808080">Agora</span></h2>
      <h3><span style="color: #404040">Jaipur</span></h3>
    </div>
    <div class="stockistsblock">
      <h2><span style="color: #808080">Yasha</span></h2>
      <h3><span style="color: #404040">Banaras</span></h3>
    </div>
    <div class="stockistsblock">
      <h2 style="text-align: center">
        <span style="color: #808080">Meraki</span>
      </h2>
      <h3 style="text-align: center">
        <span style="color: #404040">Pondicherry</span>
      </h3>
    </div>
    <div class="stockistsblock">
      <h2 style="text-align: center">
        <span style="color: #808080">Arumaa Studio</span>
      </h2>
      <h3 style="text-align: center">
        <span style="color: #404040">Baroda</span>
      </h3>
    </div>
    <div class="stockistsblock">
      <h2><span style="color: #808080">Jade Pink</span></h2>
      <h3><span>Ahmedabad</span></h3>
    </div>
    <div class="stockistsblock">
      <h2><span style="color: #808080">White Mogra</span></h2>
      <h3><span style="color: #404040">Guwahati</span></h3>
    </div>
    <div class="stockistsblock">
      <h2><span style="color: #808080">Tifara</span></h2>
      <h3><span style="color: #404040">Chennai</span></h3>
    </div>
    <div class="stockistsblockfull">
      <h2><span style="color: #808080">The Design Collective</span></h2>
      <h3><span style="color: #404040">Colombo, Sri Lanka</span></h3>
    </div>
  </div>
  <br /><br />
</div>
