<p>Specifications</p>

<p>General</p>

<table>
    <tbody>
        <tr>
            <td>Sales Package</td>
            <td>
                <ul>
                    <li>Laptop, Battery, AC Adapter</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Model Number</td>
            <td>
                <ul>
                    <li>E5450</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Part Number</td>
            <td>
                <ul>
                    <li>E5450</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Model Name</td>
            <td>
                <ul>
                    <li>Latitude E5450</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Series</td>
            <td>
                <ul>
                    <li>Latitude</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Color</td>
            <td>
                <ul>
                    <li>Black</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Type</td>
            <td>
                <ul>
                    <li>Laptop</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Suitable For</td>
            <td>
                <ul>
                    <li>Everyday Use</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Battery Backup</td>
            <td>
                <ul>
                    <li>Upto 2hrs</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>

<p>Warranty</p>

<table>
    <tbody>
        <tr>
            <td>Warranty Summary</td>
            <td>
                <ul>
                    <li>Seller warranty of 12 months provided by AFORESERVE TECHNOLOGIES PRIVATE LIMITED.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Warranty Service Type</td>
            <td>
                <ul>
                    <li>For warranty claims please email contactus@xtracover.com or call us at 8860396039.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Covered in Warranty</td>
            <td>
                <ul>
                    <li>Warranty for Manufacturing Defects Only</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Not Covered in Warranty</td>
            <td>
                <ul>
                    <li>Physical, Liquid, Electrical Damages, Unauthorized Repair &amp; Accessories are not Covered
                        Under Warranty</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Domestic Warranty</td>
            <td>
                <ul>
                    <li>12 Months</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>

<p>Processor And Memory Features</p>

<table>
    <tbody>
        <tr>
            <td>Processor Brand</td>
            <td>
                <ul>
                    <li>Intel</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Processor Name</td>
            <td>
                <ul>
                    <li>Core i5</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Processor Generation</td>
            <td>
                <ul>
                    <li>5th Gen</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>SSD</td>
            <td>
                <ul>
                    <li>Yes</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>SSD Capacity</td>
            <td>
                <ul>
                    <li>256 GB</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>RAM</td>
            <td>
                <ul>
                    <li>8 GB</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>RAM Type</td>
            <td>
                <ul>
                    <li>DDR3</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Graphic Processor</td>
            <td>
                <ul>
                    <li>Intel Integrated Intel Integrated Graphics 5500</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>

<p>Operating System</p>

<table>
    <tbody>
        <tr>
            <td>OS Architecture</td>
            <td>
                <ul>
                    <li>64 bit</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Operating System</td>
            <td>
                <ul>
                    <li>DOS</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>

<p>Display And Audio Features</p>

<table>
    <tbody>
        <tr>
            <td>Touchscreen</td>
            <td>
                <ul>
                    <li>No</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Screen Size</td>
            <td>
                <ul>
                    <li>14 inch</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Screen Resolution</td>
            <td>
                <ul>
                    <li>1366 x 768 Pixel</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>