.react-responsive-modal-modal{
    background: #ffffff;
    width: 30%;
}

.category-dropdown{
    width: 100%;
    float: left;
    height: auto;
}

.category-dropdown .dropdown{
    width: auto;
    float: left;
}

.category-text{
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: .3px;
    color: #ffffff !important;
    font-weight: 500;
    text-transform: uppercase;
}

.search-product{
    display: inline-block;
    float: left;
    font-size: 14px;
    height: 20px;
    line-height: 24px;
    width: 95%;
    color: #696e79;
    box-sizing: content-box;
    padding: 8px 10px 10px;
    margin: 0;
    outline: 0;
    border: 1px solid #f5f5f6;
    border-radius: 0 4px 4px 0;
    border-left: 0;
    background: #f5f5f6;
}

.fa-search{
    color:gray;
}
.users{
    float: right;
}
.fa-user{
    color:#ffffff;
}

.teststyleLEFT{
    left: 0% !important;
}

.teststyleRIGHT{
    left: 40%;
}

.bannerContent{
    font-size: 18px;
    font-weight: 500;
    padding: 15px;
    text-align: center;
    /* font-family: "Libre Baskerville"; */
}

.bannerHeading{
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    /* font-family: "Libre Baskerville"; */
}

.bannervorder{
    border: 0.1px solid orange;
    width: 30%;
    margin: 5px;
}

.category-lastslider{
    height: 95%;
}

.category-lastslider img{
    width: 100%;
    margin-top: 10px;
    height: 100%;
}

.sidebar{
    flex: 0 0 280px;
    max-width: 280px;
    padding: 0px 10px 0px 0px;
    background: rgb(0 0 0 / 10%);
    box-shadow: 10px 10px 8px 10px #dee2e624;
    max-height: fit-content;
    height: fit-content;
}

.sidebar-widget .title{
    position: relative;
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 15px;
    color: #000;
    font-family: inherit;
}

.sidebar-widget.category .navbar li{
    font-size: 14px;
}

body{
    scroll-behavior: smooth !important;
}

.web-cart{
    margin-left: -25px;
}