.mobile-list {
  position: fixed;
  /* top: 90%; */
  bottom: -16px;
  background: black;
  padding: 10px;
  z-index: 999;
  width: 100%;
  list-style: none;
  display: flex;
}

.mobile-logo {
  position: fixed;
  z-index: 999;
}


.mobile-list li {
  width: 25%;
  float: left;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 200;
}

@media only screen and (max-width: 760px) {
  .mobile-header {
    position: fixed;
    z-index: 9;
  }
  .react-responsive-modal-modal {
    width: 90% !important;
  }
  .slider-image {
    width: 100% !important;
    height: auto !important;
  }
  .teststyleRIGHT {
    left: 0px !important;
  }
  .header-slider .header-slider-caption {
    width: 100% !important;
  }
  .bannerHeading {
    font-size: 22px;
    text-align: center;
  }
  .bannerContent {
    font-size: 16px;
  }
  .mobile-link img {
    width: 80px;
    height: 50px;
    text-align: center;
    padding: 5px;
  }
  .mobile-link {
    text-align: center;
    margin-left: 5%;
  }
  .mobile-link input {
    width: 48%;
    padding: 3px;
    margin-left: 15px;
    position: absolute;
    border-radius: 5px;
    top: 0px;
  }
  .search-phone {
    position: relative;
    float: right;
    top: 8px;
    right: 87px;
    background: transparent;
    padding: 7px;
    color: #000;
    border-radius: 5px;
  }
  .mobile-logo {
    background: #000000;
    width: 100%;
  }
  .category-view {
    z-index: 1;
    position: fixed;
    background: #fff;
    width: 100%;
    height: 100%;
    overflow: auto;
    max-height: 92vh;
  }
  .category-list {
    width: 90%;
  }
  .mobile-subcategory ul {
    list-style: none;
  }
  .mobile-subcategory ul li p {
    font-size: 14px;
    color: #000000;
  }
  .mobile-subcategory {
    width: 30%;
    float: left;
    margin-bottom: -5px;
  }
  .mobile-subcategory ul li {
    text-align: center;
  }
  .mobile-subcategory ul li img {
    height: 90px;
    width: 90px;
  }
  .price-filter ul li {
    background: #000000;
    padding: 10px;
    width: 45%;
    border-radius: 5px;
    color: #fff;
    margin: 5px;
    margin-bottom: 10px;
    font-size: 12px;
    text-align: center;
    float: left;
    list-style: none;
  }
  .price-filter ul li a {
    color: #fff;
  }
  .mobile-card {
    padding: 0px;
  }
  .category .category-item.ch-400 {
    margin: 0px !important;
  }
  .category .category-item img {
    margin-bottom: 20px;
  }
  .call-to-action {
    display: none;
  }
  .feature {
    display: none;
  }
  .refurb-content {
    padding: 10px;
    font-family: "Font Awesome 5 Brands";
  }
  .mobile-filter {
    width: 100%;
  }
  .mobile-filter a {
    width: 45%;
    float: left;
    background: purple;
    color: #fff;
    border-radius: 50px;
    padding: 8px;
    font-size: 12px;
    text-align: center;
  }
  .product-detail-nav {
    border: 1px solid #000;
  }
  #description {
    font-family: "Font Awesome 5 Brands";
    font-size: 16px;
  }

  .specification-p h5 {
    width: 100% !important;
  }

  .product-detail .tab-content {
    padding: 25px 15px 15px 0px !important;
  }
  .our-hub {
    background: #fff;
    z-index: 1;
    position: fixed;
    bottom: 0%;
    height: 300px;
    width: 100%;
    max-height: 300px;
    overflow: auto;
  }
  .our-hub ul {
    padding-left: 20px;
  }
  .our-hub ul li {
    list-style: none;
    padding: 5px;
  }
  .our-hub ul li a {
    color: #000000;
  }
  .hea-ph {
    color: #ffffff !important;
  }
  .call-header {
    margin-left: 60%;
    color: #ffffff;
  }
  .scroll-side {
    width: 100%;
  }
  .scroll-side p select {
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
    width: 140px;
    background: #ffffff;
  }

  .scroll-side p {
    overflow: auto;
    margin-top: -20px;
    display: flex;
    align-items: center;
    height: 36px;
    min-height: 0;
    padding: 0;
    /* border-bottom: 2px solid #ddd; */
    background-color: #fff;
    -ms-overflow-style: none;
    font-size: 14px;
    font-weight: 400;
  }
  .product-view .product-view-top {
    padding: 10px !important;
  }
  .mob-foot {
    padding: 15px;
  }
  .product-item .product-image a {
    height: auto !important;
    max-height: 100% !important;
  }
  .product-item .product-image img {
    height: auto !important;
  }
  .mob-nav-desc {
    background: #fff !important;
  }
  .footer {
    margin-bottom: 30px !important;
  }
  .product-detail .product-detail-top{
    margin-top: 40px;
  }
  
  .login-form{
  margin-bottom: 0px;
  }
  
  .filter-sidebar {
    margin-top: 45px;
  }
  .header-slider {
    padding-top: 40px;
  }
}

@media only screen and (min-width: 1100px) {
  .bottom-bar {
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 100%;
  }

  .header {
    margin-top: 65px;
  }
  .product-view {
    margin-top: 55px;
  }
  .product-detail {
    margin-top: 60px;
  }
  .login {
    margin-top: 55px;
  }
}
