body {
  color: #353535;
  font-family: Roboto, sans-serif !important;
  font-weight: 400;
  background: #fff;
}
a {
  color: rgb(40 116 240);
}
a:active,
a:focus,
a:hover {
  color: #353535;
  outline: 0;
  text-decoration: none;
}
h1 {
  font-family: inherit;
  font-weight: 900;
}
h2 {
  font-family: inherit;
  font-weight: 700;
}
@media (min-width: 992px) {
  .container-fluid {
    padding-right: 60px;
    padding-left: 60px;
  }
}
.custom-select,
.form-control {
  width: 100%;
  height: 35px;
  padding: 0 15px;
  color: #999;
  border: 1px solid #ddd;
  margin-bottom: 15px;
}
.custom-select:focus,
.form-control:focus {
  box-shadow: none;
  border-color: rgb(40 116 240);
}
.custom-checkbox,
.custom-radio {
  margin-bottom: 15px;
}
.custom-checkbox .custom-control-label::before,
.custom-radio .custom-control-label::before {
  background: #ddd;
  border-color: #ddd;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before,
.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  background: rgb(40 116 240);
  border-color: rgb(40 116 240);
  box-shadow: none;
}
.btn {
  color: rgb(40 116 240);
  background: #fff;
  border: 1px solid rgb(40 116 240);
}
.btn:active,
.btn:focus,
.btn:hover {
  color: #fff !important;
  background: rgb(40 116 240);
  box-shadow: none;
  border: none;
}
.normal-slider .slick-next,
.normal-slider .slick-prev {
  width: 40px;
  height: 40px;
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
  background: rgba(255, 111, 97, 0.7);
  border-radius: 4px;
}
.normal-slider .slick-prev {
  left: 55px;
}
.normal-slider .slick-next {
  right: 55px;
}
.normal-slider.slick-slider:hover .slick-prev {
  left: 15px;
  opacity: 1;
}
.normal-slider.slick-slider:hover .slick-next {
  right: 15px;
  opacity: 1;
}
.normal-slider .slick-next:focus,
.normal-slider .slick-next:hover,
.normal-slider .slick-prev:focus,
.normal-slider .slick-prev:hover {
  background: rgba(0, 0, 0, 0.7);
}
.normal-slider .slick-next:focus::before,
.normal-slider .slick-next:hover::before,
.normal-slider .slick-prev:focus::before,
.normal-slider .slick-prev:hover::before {
  color: rgb(40 116 240);
}
.normal-slider .slick-next::before,
.normal-slider .slick-prev::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 30px;
  color: #fff;
}
.normal-slider .slick-prev::before {
  content: "\f104";
}
.normal-slider .slick-next::before {
  content: "\f105";
}
.normal-slider .slick-dots {
  bottom: 15px;
}
.normal-slider .slick-dots li button:before {
  color: #fff;
  font-size: 15px;
}
.normal-slider .slick-dots li.slick-active button:before {
  color: rgb(40 116 240);
}
.slick-dotted.slick-slider {
  margin-bottom: 0;
}
.top-bar {
  padding: 3px 0;
  font-size: 14px;
  color: rgb(40 116 240);
  background: #000;
}
.top-bar i {
  margin-right: 5px;
}
.top-bar .col-sm-6:first-child {
  text-align: left;
}
.top-bar .col-sm-6:last-child {
  text-align: right;
}
@media (max-width: 575.98px) {
  .top-bar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .top-bar .col-sm-6:first-child,
  .top-bar .col-sm-6:last-child {
    text-align: center;
  }
}
.nav {
  position: relative;
}
@media (min-width: 992px) {
  .nav .container-fluid {
    padding-left: 52px;
    padding-right: 52px;
  }
}
.nav .navbar {
  height: 100%;
  padding: 0;
}
.nav .dropdown-menu {
  margin-top: 0;
  border: 0;
  border-radius: 0;
  background: rgb(40 116 240);
}
.nav .dropdown-menu a.active {
  color: #353535;
  background: #f8f9fa;
}
@media (min-width: 768px) {
  .nav,
  .nav .navbar {
    background: rgb(40 116 240) !important;
    height: 41px;
  }
  .nav .navbar-brand {
    display: none;
  }
  .nav .navbar-dark a.nav-link {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
  }
  .nav .navbar-dark a.nav-link.active,
  .nav .navbar-dark a.nav-link:hover {
    color: #000;
  }
}
@media (max-width: 768px) {
  .nav {
    padding: 5px 0;
  }
  .nav,
  .nav .navbar {
    background: #000;
  }
  .nav a.nav-link {
    padding: 5px 0;
  }
  .nav .dropdown-menu {
    box-shadow: none;
  }
}
.bottom-bar {
  padding: 5px 0;
  background: #000;
  margin-bottom: 0;
}
.bottom-bar .logo {
  text-align: left;
  overflow: hidden;
}
.bottom-bar .logo a img {
  max-height: 60px;
}
.bottom-bar .search {
  width: 100%;
}
.bottom-bar .search input[type="text"] {
  width: 100%;
  height: 40px;
  padding: 0 15px;
  color: #666;
  border-radius: 4px;
}
.bottom-bar .search button {
  position: absolute;
  width: 40px;
  height: 38px;
  right: -15px;
  padding: 0 15px;
  border: none;
  background: 0 0;
  color: rgb(40 116 240);
  border-radius: 0 2px 2px 0;
}
.bottom-bar .search button:hover {
  background: rgb(40 116 240);
  color: #000;
}
.bottom-bar .user {
  font-size: 0;
  text-align: right;
}
.bottom-bar .user .wishlist {
  margin-right: 15px;
}
.bottom-bar .user .cart i,
.bottom-bar .user .wishlist i {
  color: rgb(40 116 240);
}
.bottom-bar .user .cart span,
.bottom-bar .user .wishlist span {
  color: rgb(40 116 240);
  font-size: 15px;
}
.bottom-bar .user .cart:hover i,
.bottom-bar .user .cart:hover span,
.bottom-bar .user .wishlist:hover i,
.bottom-bar .user .wishlist:hover span {
  color: #fff;
}
@media (min-width: 768px) {
  .bottom-bar {
    max-height: 90px;
  }
}
@media (max-width: 767.98px) {
  .bottom-bar .logo,
  .bottom-bar .search,
  .bottom-bar .user {
    text-align: center;
    margin-bottom: 15px;
  }
  .bottom-bar .user {
    margin-bottom: 0;
  }
}
.header {
  position: relative;
}
.header .col-md-3,
.header .col-md-6 {
  margin-bottom: 30px;
}
.header .navbar {
  padding: 0;
  height: 100%;
  max-height: 400px;
  overflow: hidden;
  background: #fff !important;
}
.header .navbar-nav {
  width: 100%;
  padding: 15px 0;
}
.header .navbar li {
  padding: 0 30px;
  border-bottom: 1px solid #f3f6ff;
}
.header .navbar li:last-child {
  border-bottom: none;
}
.header .navbar a {
  color: #353535;
}
.header .navbar a:hover {
  color: rgb(40 116 240);
}
.header .navbar i {
  color: rgb(40 116 240);
  width: 20px;
  text-align: center;
  margin-right: 8px;
}
.header .navbar a:hover i {
  color: #353535;
}
.header-slider {
  position: relative;
  width: 100%;
}
.header-slider .header-slider-item {
  position: relative;
}
.header-slider .header-slider-caption {
  position: absolute;
  top: 20%;
  width: 60%;
  height: 60%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  z-index: 1;
}
.header-slider .header-slider-caption p {
  text-align: center;
  color: #fff;
  font-size: 22px;
  font-family: inherit;
  font-weight: 700;
}
.header-slider .header-slider-caption .btn {
  border-color: #fff;
}
.header-slider .header-slider-caption .btn i {
  margin-right: 5px;
}
.header .header-img {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  max-height: 400px;
  overflow: hidden;
  background: #fff;
}
.header .img-item {
  position: relative;
  width: 100%;
  height: 50%;
  overflow: hidden;
}
.header .img-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header .img-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: rgba(255, 111, 97, 0.7);
  transition: all 0.3s;
  opacity: 0;
}
.header .img-text:hover {
  opacity: 1;
}
.header .img-text p {
  margin: 0 0 50px 0;
  padding: 15px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 16px;
  transition: all 0.3s;
}
.header .img-text:hover p {
  margin: 0;
}
.breadcrumb-wrap {
  position: relative;
  width: 100%;
}
.breadcrumb-wrap .breadcrumb {
  margin: 0;
  padding: 0;
  background: 0 0;
}
.category {
  position: relative;
  padding: 0 15px;
  margin-bottom: 30px;
}
.category .col-md-3 {
  padding: 0;
}
.category .category-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  max-height: 400px;
  overflow: hidden;
  background: #fff;
}
.category .category-item.ch-400 {
  width: 100%;
  margin: 5px;
}
.category .category-item.ch-250 {
  height: 250px;
}
.category .category-item.ch-150 {
  height: 150px;
}
.category .category-item img {
  width: 100%;
  object-fit: cover;
}
.category .category-name {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: rgba(255, 111, 97, 0.7);
  transition: all 0.3s;
  opacity: 0;
}
.category .category-name:hover {
  opacity: 1;
}
.category .category-name p {
  margin: 0 0 50px 0;
  padding: 15px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 16px;
  transition: all 0.3s;
}
.category .category-name:hover p {
  margin: 0;
}
.feature {
  position: relative;
}
.feature .feature-col {
  margin-bottom: 30px;
}
.feature .feature-content {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 30px 15px;
  text-align: center;
  background: #fff;
}
.feature .feature-content i {
  color: rgb(108 117 125);
  font-size: 60px;
  margin-bottom: 30px;
}
.feature .feature-content h2 {
  font-size: 18px;
}
.feature .feature-content p {
  font-size: 15px;
  margin: 0;
}
.product-item {
  position: relative;
  box-shadow: 0 13px 21px -5px rgb(0 0 0 / 30%);
}
.product-item .product-title {
  padding: 15px;
  text-align: center;
  background: #fff;
  transition: all 0.3s;
}
.product-item:hover .product-title {
  background: #fff;
}
.product-item .product-title .ratting,
.product-item .product-title a {
  position: relative;
  width: 100%;
}
.product-item .product-title a {
  margin-bottom: 5px;
  color: #000;
  font-size: 16px;
  font-family: auto;
  font-weight: 400;
}
.product-item .product-title a:hover {
  color: #000 !important;
}
.product-item .product-title .ratting i {
  font-size: 14px;
  color: rgb(40 116 240);
}
.product-item .product-content .price span {
  margin-left: 12px;
  text-decoration: line-through;
  font-weight: 700;
  color: #999;
}
.product-item:hover .product-title .ratting i,
.product-item:hover .product-title a {
  color: #000;
}
.product-item:hover .product-content .price span {
  color: #ddd;
}
.product-item .product-image {
  position: relative;
  overflow: hidden;
}
.product-item .product-image a {
  display: block;
  background: #fff;
  transition: 0.3s;
  height: 250px;
  max-height: 250px;
}
.product-item .product-image img {
  width: 100%;
  transition: all 0.3s;
  height: 225px;
}
.product-item:hover .product-image img {
  transform: scale(1.2);
}
.product-item .product-image .product-action {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 111, 97, 0.5);
  transition: all 0.3s;
  font-size: 0;
  z-index: 1;
  opacity: 0;
}
.product-item:hover .product-image .product-action {
  opacity: 1;
}
.product-item .product-image .product-action a {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  padding: 7px 0 10px 0;
  font-size: 16px;
  text-align: center;
  color: #fff;
  background: rgb(40 116 240);
  border: 1px solid #fff;
  border-radius: 4px;
  transition: all 0.3s;
  margin-top: 50px;
}
.product-item:hover .product-image .product-action a {
  margin-top: 0;
}
.product-item .product-image .product-action a:last-child {
  margin-right: 0;
}
.product-item .product-image .product-action a:hover {
  color: rgb(40 116 240);
  background: #fff;
  border: 1px solid rgb(40 116 240);
}
.product-item .product-price {
  padding: 20px;
  background: #000;
  transition: all 0.3s;
}
.product-item:hover .product-price {
  background: rgb(40 116 240);
}
.product-item .product-price h3 {
  display: inline-block;
  color: #fff;
  margin: 0;
}
.product-item .product-price h3 span {
  font-size: 16px;
}
.product-item .product-price .btn {
  float: right;
  border: none;
  color: #000;
  background: rgb(40 116 240);
}
.product-item .product-price .btn:hover,
.product-item:hover .product-price .btn {
  color: rgb(40 116 240);
  background: #fff;
}
.product-item .product-price .btn i {
  margin-right: 5px;
}
.featured-product {
  position: relative;
  padding: 30px 0;
}
.recent-product {
  position: relative;
  padding: 30px 0;
}
.product .section-header {
  margin-bottom: 30px;
  padding: 10px 10px 1px;
  color: rgb(255 255 255);
  background: #dee2e6;
  text-align: center;
}
.product .section-header h1 {
  color: rgb(108 117 125);
  font-size: 28px;
  font-family: inherit;
}
.product .section-header h2 {
  color: rgb(108 117 125);
  font-size: 31px;
  font-family: inherit;
}
.product .slick-next,
.product .slick-prev {
  top: -75px;
  width: 30px;
  height: 30px;
  z-index: 1;
  transition: 0.5s;
  color: rgb(40 116 240);
  background: #fff;
  border: 1px solid rgb(40 116 240);
  border-radius: 4px;
}
.product .slick-prev {
  left: calc(100% - 120px);
}
.product .slick-next {
  right: 45px;
}
.product .slick-next:focus,
.product .slick-next:hover,
.product .slick-prev:focus,
.product .slick-prev:hover {
  background: rgb(40 116 240);
}
.product .slick-next::before,
.product .slick-prev::before {
  font-family: inherit;
  font-size: 18px;
  font-weight: 900;
  color: rgb(40 116 240);
}
.product .slick-prev::before {
  content: "\f104";
}
.product .slick-next::before {
  content: "\f105";
}
.product .slick-next:focus::before,
.product .slick-next:hover::before,
.product .slick-prev:focus::before,
.product .slick-prev:hover::before {
  color: #fff;
}
.product-view {
  position: relative;
  width: 100%;
  padding: 30px 0;
}
.product-view .product-view-top {
  padding: 30px;
  margin-bottom: 30px;
  background: #fff;
}
.product-view .product-search {
  position: relative;
  width: 100%;
}
.product-view .product-search input {
  width: 100%;
  height: 35px;
  padding: 0 15px;
  color: #999;
  background: 0 0;
  border: 1px solid #353535;
  border-radius: 4px;
  transition: all 0.3s;
}
.product-view .product-search input:focus {
  border-color: rgb(40 116 240);
}
.product-view .product-search button {
  position: absolute;
  width: 35px;
  height: 33px;
  top: 1px;
  right: 1px;
  text-align: center;
  background: 0 0;
  color: #353535;
  border: none;
  border-radius: 0 4px 4px 0;
  transition: all 0.3s;
}
.product-view .product-search button i {
  font-size: 16px;
}
.product-view .product-search button:hover {
  background: rgb(40 116 240);
  color: #fff;
}
.product-view .product-price-range,
.product-view .product-short {
  position: relative;
  width: 100%;
  text-align: right;
}
.product-view .product-price-range .dropdown .dropdown-toggle,
.product-view .product-short .dropdown .dropdown-toggle {
  display: block;
  width: 100%;
  height: 35px;
  padding: 5px 10px;
  background: 0 0;
  border: 1px solid #353535;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}
.product-view .product-price-range .dropdown .dropdown-toggle:hover,
.product-view .product-short .dropdown .dropdown-toggle:hover {
  color: rgb(40 116 240);
  border-color: rgb(40 116 240);
}
.product-view .product-price-range .dropdown .dropdown-toggle::after,
.product-view .product-short .dropdown .dropdown-toggle::after {
  float: right;
  margin-top: 10px;
}
.product-view .product-price-range .dropdown-menu,
.product-view .product-short .dropdown-menu {
  margin: -1px 0 0 0;
  border-radius: 0;
}
.product-view .product-item {
  margin-bottom: 30px;
}
.product-view .pagination {
  margin: 0;
}
.product-view .pagination .page-item .page-link {
  color: #353535;
  background: 0 0;
  border-color: #353535;
}
.product-view .pagination .page-item.active .page-link,
.product-view .pagination .page-item:hover .page-link {
  color: rgb(40 116 240);
  background: #000;
}
@media (max-width: 991.98px) {
  .product-view .pagination {
    margin-bottom: 30px;
  }
}
.product-detail {
  position: relative;
  width: 100%;
  padding: 30px 0;
}
.product-detail .product-detail-bottom,
.product-detail .product-detail-top {
  margin-bottom: 30px;
}
.product-detail .product-detail-top {
  padding: 0;
  background: #fff;
}
.product-detail .product-slider-single img {
  width: 100%;
}
.product-detail .product-slider-single-nav {
  margin: 15px 30px 30px 30px;
}
.product-detail .product-slider-single-nav .slider-nav-img {
  overflow: hidden;
}
.product-detail .product-slider-single-nav img {
  width: 100%;
  transition: all 0.3s;
}
.product-detail .product-slider-single-nav img:hover {
  transform: scale(1.2);
}
.product-detail .product-content,
.product-detail .product-content .action,
.product-detail .product-content .details,
.product-detail .product-content .price,
.product-detail .product-content .quantity,
.product-detail .product-content .ratting,
.product-detail .product-content .title {
  position: relative;
  width: 100%;
}
.product-detail .product-content {
  padding: 30px;
}
@media (min-width: 768px) {
  .product-detail .product-content {
    padding-left: 0;
  }
}
.product-detail .product-content .title h2 {
  font-size: 20px;
  margin-bottom: 5px;
  font-family: inherit;
}
.product-detail .product-content .ratting {
  margin-bottom: 10px;
}
.product-detail .product-content .ratting i {
  color: rgb(40 116 240);
  font-size: 16px;
}
.product-detail .product-content .p-color,
.product-detail .product-content .p-size,
.product-detail .product-content .price,
.product-detail .product-content .quantity {
  margin-bottom: 15px;
}
.product-detail .product-content .p-color h4,
.product-detail .product-content .p-size h4,
.product-detail .product-content .price h4,
.product-detail .product-content .quantity h4 {
  display: inline-block;
  width: 80px;
  font-size: 18px;
  font-weight: 700;
  margin-right: 5px;
}
.product-detail .product-content .price p {
  display: inline-block;
  color: #000;
  font-size: 28px;
  font-weight: 700;
  margin: 0;
}
.product-detail .product-content .price span {
  color: #999;
  text-decoration: line-through;
  margin-left: 12px;
  font-size: 16px;
}
.product-detail .product-content .quantity .qty {
  display: inline-block;
  font-size: 0;
}
.product-detail .product-content .quantity button {
  width: 30px;
  height: 30px;
  padding: 2px 0;
  font-size: 16px;
  text-align: center;
  color: #fff;
  background: rgb(40 116 240);
  border: none;
}
.product-detail .product-content .quantity button.btn-minus {
  border-radius: 4px 0 0 4px;
}
.product-detail .product-content .quantity button.btn-plus {
  border-radius: 0 4px 4px 0;
}
.product-detail .product-content .quantity input {
  width: 40px;
  height: 30px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  background: #000;
  border: none;
}
.product-detail .product-content .action a:first-child {
  margin-right: 11px;
}
.product-detail .product-content .action a i {
  margin-right: 5px;
}
.product-detail .nav.nav-pills .nav-link {
  color: #000;
  background: #fff;
  border-radius: 0;
  transition: all 0.3s;
  border-bottom: 1px solid;
  border: none;
}
.product-detail .nav.nav-pills .nav-link.active,
.product-detail .nav.nav-pills .nav-link:hover {
  color: #fff;
  background: orange;
  border: 1px solid;
}
.product-detail .tab-content {
  background: #fff;
  padding: 25px 15px 15px 15px;
}
.product-detail .tab-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.product-detail .tab-content ul li {
  margin-bottom: 10px;
}
.product-detail .tab-content ul li::before {
  content: "\f061";
  font-family: "Open Sans";
  font-weight: 900;
  padding-right: 5px;
}
.product-detail .tab-content .reviews-submitted {
  position: relative;
  margin-bottom: 45px;
}
.product-detail .tab-content .reviewer {
  color: rgb(40 116 240);
  font-size: 18px;
  font-weight: 600;
}
.product-detail .tab-content .reviewer span {
  color: #666;
  font-size: 14px;
  font-weight: 400;
}
.product-detail .tab-content .ratting {
  color: rgb(40 116 240);
  margin-bottom: 15px;
}
.product-detail .tab-content .reviews-submit .ratting {
  font-size: 24px;
}
.product-detail .tab-content .form input {
  width: 100%;
  height: 35px;
  padding: 0 15px;
  color: #666;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 15px;
}
.product-detail .tab-content .form textarea {
  width: 100%;
  height: 80px;
  padding: 6px 15px;
  color: #666;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 15px;
}
.product-detail .tab-content .form button {
  display: inline-block;
  height: 35px;
  padding: 0 15px;
  color: rgb(40 116 240);
  background: #fff;
  border: 1px solid rgb(40 116 240);
  border-radius: 4px;
  margin-bottom: 15px;
  transition: all 0.3s;
}
.product-detail .tab-content .form button:hover {
  color: #fff;
  background: rgb(40 116 240);
}
.sidebar-widget {
  padding: 30px;
  background: #fff;
}
.sidebar-widget:not(:first-child) {
  padding-top: 0;
  height: 300px;
}
.sidebar-widget .title {
  position: relative;
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.sidebar-widget.category {
  margin: 0;
}
.sidebar-widget.category .navbar {
  padding: 0;
  overflow: hidden;
  background: #fff !important;
}
.sidebar-widget.category .navbar-nav {
  width: 100%;
}
.sidebar-widget.category .navbar li {
  border-bottom: 1px solid #f3f6ff;
}
.sidebar-widget.category .navbar li:last-child {
  border-bottom: none;
}
.sidebar-widget.category .navbar a {
  color: #353535;
}
.sidebar-widget.category .navbar a:hover {
  color: rgb(40 116 240);
}
.sidebar-widget.category .navbar i {
  color: rgb(40 116 240);
  width: 20px;
  text-align: center;
  margin-right: 8px;
}
.sidebar-widget.category .navbar a:hover i {
  color: #353535;
}
.sidebar-widget.brands ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-widget.brands ul li {
  margin-bottom: 12px;
}
.sidebar-widget.brands ul li:last-child {
  margin-bottom: 0;
}
.sidebar-widget.brands ul li a {
  color: #353535;
  white-space: nowrap;
  display: inline-block;
  line-height: 23px;
  transition: all 0.3s;
}
.sidebar-widget.brands ul li a::before {
  content: "\f105";
  font-family: inherit;
  font-weight: 900;
  padding-right: 5px;
}
.sidebar-widget.brands ul li a:hover {
  color: rgb(40 116 240);
}
.sidebar-widget.brands ul li a:hover::before {
  content: "\f101";
  font-family: inherit;
  font-weight: 900;
}
.sidebar-widget.brands ul li a:hover {
  padding-left: 10px;
}
.sidebar-widget.brands ul li span {
  display: inline-block;
  float: right;
  color: #666;
  font-size: 14px;
  font-weight: 400;
}
.sidebar-widget.widget-slider {
  position: relative;
}
.sidebar-widget.image a {
  display: block;
  width: 100%;
  overflow: hidden;
}
.sidebar-widget.image img {
  max-width: 100%;
  transition: 0.3s;
}
.sidebar-widget.image img:hover {
  transform: scale(1.1);
  filter: blur(3px);
  -webkit-filter: blur(3px);
}
.sidebar-widget.tag a {
  display: inline-block;
  margin: 0 0 4px 0;
  padding: 3px 8px;
  font-size: 14px;
  color: #353535;
  background: #fff;
  border: 1px solid #353535;
  border-radius: 4px;
  transition: 0.3s;
}
.sidebar-widget.tag a:hover {
  color: #fff;
  background: rgb(40 116 240);
  border-color: rgb(40 116 240);
}
.cart-page {
  position: relative;
  margin-top: 30px;
}
.cart-page .cart-page-inner {
  padding: 30px;
  margin-bottom: 30px;
  background: #fff;
}
.cart-page .table {
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}
.cart-page .table .thead-dark th {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  color: #353535;
  text-align: center;
  background: 0 0;
  border-color: #ddd;
  border-bottom: none;
  vertical-align: middle;
}
.cart-page .table td {
  font-size: 16px;
  vertical-align: middle;
}
.cart-page .table .img {
  display: flex;
  align-items: center;
}
.cart-page .table .img img {
  max-width: 60px;
  max-height: 60px;
  margin-right: 15px;
}
.cart-page .table .img p {
  display: inline-block;
  text-align: left;
  margin: 0;
}
.cart-page .table .qty {
  display: inline-block;
  width: 100px;
  font-size: 0;
}
.cart-page .table button {
  width: 30px;
  height: 30px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background: rgb(40 116 240);
  border: none;
  border-radius: 4px;
}
.cart-page .table button.btn-minus {
  border-radius: 4px 0 0 4px;
}
.cart-page .table button.btn-plus {
  border-radius: 0 4px 4px 0;
}
.cart-page .table button.btn-cart {
  width: auto;
}
.cart-page .table input {
  width: 40px;
  height: 30px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: #000;
  border: none;
}
.cart-page .coupon {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
  font-size: 0;
}
.cart-page .coupon input {
  width: calc(100% - 135px);
  height: 40px;
  padding: 0 15px;
  font-size: 16px;
  color: #999;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 15px;
  transition: all 0.3s;
}
.cart-page .coupon input:focus {
  border-color: rgb(40 116 240);
}
.cart-page .coupon button {
  width: 120px;
  height: 40px;
  padding: 2px 0;
  font-size: 16px;
  text-align: center;
  color: rgb(40 116 240);
  background: #fff;
  border: 1px solid rgb(40 116 240);
  border-radius: 4px;
}
.cart-page .coupon button:hover {
  color: #fff;
  background: rgb(40 116 240);
}
.cart-page .cart-summary {
  position: relative;
  width: 100%;
}
.cart-page .cart-summary .cart-content {
  padding: 30px;
  background: #f3f6ff;
}
.cart-page .cart-summary .cart-content h1 {
  font-size: 22px;
  margin-bottom: 20px;
}
.cart-page .cart-summary .cart-content h2 span,
.cart-page .cart-summary .cart-content p span {
  float: right;
}
.cart-page .cart-summary .cart-content h2 {
  font-size: 20px;
  font-weight: 600;
  padding-top: 12px;
  border-top: 1px solid #ddd;
  margin: 0;
}
.cart-page .cart-summary .cart-btn button {
  margin-top: 15px;
  width: calc(50% - 15px);
  height: 50px;
  padding: 2px 10px;
  text-align: center;
  color: #fff;
  background: rgb(40 116 240);
  border: none;
  border-radius: 4px;
}
.cart-page .cart-summary .cart-btn button:hover {
  color: rgb(40 116 240);
  background: #000;
}
.cart-page .cart-summary .cart-btn button:first-child {
  margin-right: 25px;
  color: rgb(40 116 240);
  background: #fff;
  border: 1px solid rgb(40 116 240);
}
.cart-page .cart-summary .cart-btn button:first-child:hover {
  color: #fff;
  background: rgb(40 116 240);
}
.wishlist-page {
  position: relative;
  padding: 30px 0;
}
.wishlist-page .wishlist-page-inner {
  padding: 30px;
  background: #fff;
}
.wishlist-page .table {
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}
.wishlist-page .table .thead-dark th {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  color: #353535;
  text-align: center;
  background: 0 0;
  border-color: #ddd;
  border-bottom: none;
  vertical-align: middle;
}
.wishlist-page .table td {
  font-size: 16px;
  vertical-align: middle;
}
.wishlist-page .table .img {
  display: flex;
  align-items: center;
}
.wishlist-page .table .img img {
  max-width: 60px;
  max-height: 60px;
  margin-right: 15px;
}
.wishlist-page .table .img p {
  display: inline-block;
  text-align: left;
  margin: 0;
}
.wishlist-page .table .qty {
  display: inline-block;
  width: 100px;
  font-size: 0;
}
.wishlist-page .table button {
  width: 30px;
  height: 30px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background: rgb(40 116 240);
  border: none;
  border-radius: 4px;
}
.wishlist-page .table button.btn-minus {
  border-radius: 4px 0 0 4px;
}
.wishlist-page .table button.btn-plus {
  border-radius: 0 4px 4px 0;
}
.wishlist-page .table button.btn-cart {
  width: auto;
}
.wishlist-page .table input {
  width: 40px;
  height: 30px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: #000;
  border: none;
}
.checkout {
  position: relative;
  padding-top: 30px;
}
.checkout .checkout-inner {
  margin-bottom: 30px;
  padding: 30px;
  background: #fff;
}
.checkout .billing-address,
.checkout .shipping-address {
  position: relative;
  width: 100%;
}
.checkout .shipping-address {
  display: none;
  margin-top: 30px;
}
.checkout .billing-address h2,
.checkout .shipping-address h2 {
  font-size: 25px;
  margin-bottom: 20px;
}
.checkout .checkout-payment,
.checkout .checkout-summary {
  position: relative;
  width: 100%;
}
.checkout .checkout-payment h1,
.checkout .checkout-summary h1 {
  font-size: 25px;
  margin-bottom: 20px;
}
.checkout .checkout-payment .payment-methods,
.checkout .checkout-summary {
  padding: 30px;
  background: #f3f6ff;
  margin-bottom: 30px;
}
.checkout .checkout-summary p.ship-cost,
.checkout .checkout-summary p.sub-total {
  padding-top: 15px;
  border-top: 1px solid #ddd;
}
.checkout .checkout-summary h2 span,
.checkout .checkout-summary p span {
  float: right;
}
.checkout .checkout-summary h2 {
  font-size: 20px;
  padding-top: 12px;
  border-top: 1px solid #ddd;
  margin: 0;
}
.checkout .checkout-payment .payment-methods .payment-content {
  display: none;
}
.checkout .checkout-payment .checkout-btn button {
  width: 100%;
  height: 50px;
  padding: 2px 10px;
  font-family: inherit;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  color: #000;
  background: rgb(40 116 240);
  border: none;
  border-radius: 4px;
  transition: all 0.3s;
}
.checkout .checkout-payment .checkout-btn button:hover {
  color: rgb(40 116 240);
  background: #000;
}
.my-account {
  position: relative;
  padding: 30px 0;
}
.my-account .nav.nav-pills .nav-link {
  padding: 10px 15px;
  color: #353535;
  background: #fff;
  border-radius: 0;
  border-bottom: 1px solid #ddd;
  transition: all 0.3s;
}
.my-account .nav.nav-pills .nav-link:last-child {
  border-bottom: none;
}
.my-account .nav.nav-pills .nav-link.active,
.my-account .nav.nav-pills .nav-link:hover {
  color: #fff;
  background: rgb(40 116 240);
}
.my-account .nav.nav-pills .nav-link i {
  margin-right: 5px;
}
.my-account .tab-content {
  padding: 30px;
  background: #fff;
}
.my-account .tab-content .table {
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}
.my-account .tab-content .table .thead-dark th {
  text-align: center;
  color: #353535;
  background: #fff;
  border-color: #ddd;
  border-bottom: none;
  vertical-align: middle;
}
.my-account .tab-content .table td {
  vertical-align: middle;
}
.call-to-action {
  position: relative;
  padding: 5px;
  background: rgb(40 116 240);
}
.call-to-action .col-md-6:last-child {
  text-align: right;
}
.call-to-action h1 {
  color: #fff;
  font-size: 26px;
  margin: 0;
  font-family: initial;
  font-style: inherit;
  text-transform: capitalize;
  text-align: justify;
}
.call-to-action a {
  display: inline-block;
  padding: 0 20px;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  font-size: 30px;
  letter-spacing: 2px;
  transition: all 0.3s;
}
.call-to-action a:hover {
  color: #000;
  border-color: #000;
}
@media (max-width: 767.98px) {
  .call-to-action,
  .call-to-action .col-md-6:last-child {
    text-align: center;
  }
  .call-to-action h1 {
    margin-bottom: 20px;
  }
}
.newsletter {
  position: relative;
  padding: 30px 0;
  background: rgb(40 116 240);
}
.newsletter h1 {
  color: #fff;
  font-size: 30px;
  margin: 0;
}
.newsletter .form {
  position: relative;
  max-width: 400px;
  margin: 0 0 0 auto;
}
.newsletter .form input {
  width: 100%;
  height: 40px;
  padding: 0 15px;
  color: #666;
  border: 1px solid #fff;
  border-radius: 4px;
}
.newsletter .form button {
  position: absolute;
  width: 80px;
  height: 40px;
  top: 0;
  right: 0;
  padding: 0 15px;
  border: none;
  background: rgb(40 116 240);
  color: #fff;
  border: 1px solid #fff;
  border-radius: 0 4px 4px 0;
}
.newsletter .form button:hover {
  color: rgb(40 116 240);
  background: #000;
}
@media (max-width: 767.98px) {
  .newsletter {
    text-align: center;
  }
  .newsletter h1 {
    margin-bottom: 20px;
  }
  .newsletter .form {
    margin: 0 auto;
  }
}
.brand {
  position: relative;
  margin-bottom: 30px;
  padding: 30px 0;
  background: #fff;
}
.brand .brand-item {
  text-align: center;
}
.brand .brand-item img {
  max-width: 100%;
  margin: auto;
}
.brand .slick-next,
.brand .slick-prev {
  width: 40px;
  height: 40px;
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
  background: rgb(40 116 240);
  border-radius: 4px;
}
.brand .slick-prev {
  left: 55px;
}
.brand .slick-next {
  right: 55px;
}
.brand .slick-slider:hover .slick-prev {
  left: 15px;
  opacity: 1;
}
.brand .slick-slider:hover .slick-next {
  right: 15px;
  opacity: 1;
}
.brand .slick-next:focus,
.brand .slick-next:hover,
.brand .slick-prev:focus,
.brand .slick-prev:hover {
  background: #000;
}
.brand .slick-next:focus::before,
.brand .slick-next:hover::before,
.brand .slick-prev:focus::before,
.brand .slick-prev:hover::before {
  color: rgb(40 116 240);
}
.brand .slick-next::before,
.brand .slick-prev::before {
  font-family: inherit;
  font-weight: 900;
  font-size: 30px;
  color: #000;
}
.brand .slick-prev::before {
  content: "\f104";
}
.brand .slick-next::before {
  content: "\f105";
}
.review {
  margin-bottom: 30px;
}
.review .review-slider {
  position: relative;
}
.review .review-slider-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  background: #fff;
}
.review .review-img {
  width: 100%;
  max-width: 200px;
  overflow: hidden;
}
.review .review-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.review .review-text {
  padding: 15px;
  width: 100%;
  max-width: calc(100% - 200px);
}
.review .review-text h2 {
  font-size: 22px;
  letter-spacing: 2px;
  margin-bottom: 5px;
}
.review .review-text h3 {
  font-size: 14px;
  letter-spacing: 2px;
  margin-bottom: 5px;
}
.review .review-text p {
  margin: 0;
}
.review .review-text .ratting {
  margin-bottom: 5px;
}
.review .review-text .ratting i {
  color: rgb(40 116 240);
  font-size: 14px;
}
.review .slick-slider:hover .slick-prev {
  left: 30px;
}
.review .slick-slider:hover .slick-next {
  right: 30px;
}
.contact {
  position: relative;
  padding-top: 30px;
}
.contact .contact-form,
.contact .contact-info,
.contact .contact-map {
  height: 100%;
  padding: 30px;
  background: #fff;
  border-bottom: 30px solid #f3f6ff;
}
.contact .contact-info h2 {
  margin-bottom: 15px;
}
.contact .contact-info h3 {
  margin-bottom: 15px;
  font-size: 18px;
}
.contact .contact-info h3 i {
  width: 20px;
  color: rgb(40 116 240);
  margin-right: 5px;
}
.contact .social {
  position: relative;
  width: 100%;
}
.contact .social a {
  display: inline-block;
  margin: 10px 10px 0 0;
  width: 40px;
  height: 40px;
  padding: 5px 0;
  text-align: center;
  font-size: 18px;
  border: 1px solid rgb(40 116 240);
  border-radius: 4px;
}
.contact .social a i {
  color: rgb(40 116 240);
}
.contact .social a:hover {
  background: rgb(40 116 240);
}
.contact .social a:hover i {
  color: #fff;
}
.contact .contact-map iframe {
  width: 100%;
  height: 450px;
}
.login {
  position: relative;
  padding-top: 30px;
}
.login .login-form,
.login .register-form {
  padding: 30px;
  background: #fff;
  margin-bottom: 30px;
}
.footer {
  position: relative;
  padding: 30px 0 0 0;
  background: #000;
  color: #fff;
}
.footer .footer-widget {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}
.footer .footer-widget h2 {
  font-size: 25px;
  white-space: nowrap;
  margin-bottom: 20px;
}
.footer .footer-widget ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer .footer-widget ul li {
  margin-bottom: 12px;
}
.footer .footer-widget ul li:last-child {
  margin-bottom: 0;
}
.footer .footer-widget ul li a {
  color: #fff;
  white-space: nowrap;
  display: block;
  line-height: 23px;
  transition: all 0.3s;
  font-family: "Font Awesome 5 Free";
}
.footer .footer-widget ul li a::before {
  content: "\f105";
  font-family: inherit;
  font-weight: 900;
  padding-right: 5px;
}
.footer .footer-widget ul li a:hover {
  color: orange;
}
.footer .footer-widget ul li a:hover::before {
  content: "\f101";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.footer .contact-info p {
  margin-bottom: 10px;
  font-size: 16px;
}
.footer .contact-info p i {
  margin-right: 5px;
}
.footer .social {
  position: relative;
  width: 100%;
}
.footer .social a {
  display: inline-block;
  margin: 10px 5px 0 0;
  width: 40px;
  height: 40px;
  padding: 6px 0;
  text-align: center;
  font-size: 18px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  transition: all 0.3s;
  cursor: pointer;
}
.footer .social a:hover {
  color: orange;
  border-color: orange;
  cursor: pointer;
}
.footer .payment {
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
@media (min-width: 992px) {
  .footer .payment {
    max-width: 80%;
    margin: 0 auto;
  }
}
.footer .payment-method,
.footer .payment-security {
  overflow: hidden;
}
.footer .payment-method {
  text-align: left;
}
.footer .payment-security {
  text-align: right;
}
@media (max-width: 768.98px) {
  .footer .payment-method {
    margin-bottom: 15px;
  }
  .footer .payment-method,
  .footer .payment-security {
    text-align: center;
  }
}
.footer .payment-method h2,
.footer .payment-security h2 {
  display: inline-block;
  margin: 0 10px 0 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}
.footer .payment-method img,
.footer .payment-security img {
  height: 25px;
}
.footer-bottom {
  position: relative;
  padding: 25px 0;
  background: #000;
}
.footer-bottom .copyright {
  text-align: left;
}
.footer-bottom .template-by {
  text-align: right;
}
.footer-bottom .copyright p,
.footer-bottom .template-by p {
  color: #fff;
  font-weight: 400;
  margin: 0;
}
.footer-bottom .copyright p a,
.footer-bottom .template-by p a {
  font-weight: 600;
}
.footer-bottom .copyright p a:hover,
.footer-bottom .template-by p a:hover {
  color: #fff;
}
@media (max-width: 768.98px) {
  .footer-bottom .copyright,
  .footer-bottom .template-by {
    text-align: center;
  }
}
.slider-image {
  width: 100%;
  height: 70vh;
}
.product-detail-view {
  width: 50px;
  height: 50px;
  float: left;
  margin: 3px;
}
.price-filter {
  width: 100%;
  margin: 5px;
  float: right;
  display: block;
  width: 95%;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 17px;
  color: #282c3f;
}
.product-price h5 {
  color: #fff;
}
.ratting {
  color: #fff;
  margin-top: 10px;
}
.category-product-price {
  padding-bottom: 50px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.category-product-price h5 {
  float: left;
}
.review .review-img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  padding: 10px;
}
.modal-search {
  width: 80%;
  margin-left: 5%;
  height: 40px;
  padding: 0 15px;
  color: #666;
  border: 1px solid rgb(40 116 240);
  border-radius: 4px;
  margin-bottom: 20px;
}
.modal-search-button {
  position: absolute;
  width: 40px;
  height: 38px;
  top: 1px;
  right: 16px;
  padding: 0 15px;
  border: none;
  background: 0 0;
  color: rgb(40 116 240);
  border-radius: 0 2px 2px 0;
}
.list-product {
  width: 100%;
}
.product-image-search {
  width: 35%;
  float: left;
}
.product-image-search img {
  width: 80px;
  height: 60px;
}
.product-content {
  width: 60%;
  float: left;
}
.product-search {
  list-style: none;
  width: 100%;
  padding: 10px;
  height: 100%;
  float: left;
  background: #fff;
}
.product-content {
  margin-bottom: 0;
}
.react-responsive-modal-modal {
  width: 30%;
}
.container-form {
  font-family: Arial;
  max-width: 100%;
  margin: 0 auto;
  padding: 16px;
  background-color: #fff;
}
input {
  width: 94%;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ddd;
}
textarea {
  width: 94%;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ddd;
}
input[type="submit"] {
  width: 100%;
  background-color: rgb(40 116 240);
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.product-content p {
  margin-bottom: 2px;
}
.product-item {
  margin-bottom: 10px;
}
.App {
  width: 100%;
  overflow: hidden;
}
@media only screen and (max-width: 600px) {
  .react-responsive-modal-modal {
    width: 90%;
  }
}
.wp-p {
  font-size: 36px;
}
.wp {
  position: fixed;
  top: 75%;
  left: 20px;
}
.wp-p {
  font-size: 45px;
  background: #51e051;
  border-radius: 50px;
  width: 65px;
  height: 65px;
  padding-left: 12px;
  color: #fff;
}

.product .section-header h3 {
  color: #000;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
}
.homefooter-content h4 {
  font-size: 16px;
  color: #000;
  font-weight: 500;
}
.homefooter-content p {
  font-size: 14px;
  padding: 10px;
  color: gray;
  margin: 0;
}
.top-containt {
  background-image: url(../img/banner.jpg);
  height: 250px;
  width: 100%;
  background-position: center;
  margin-bottom: 40px;
}
.top-containt h1 {
  text-align: center;
  color: #fff;
  padding-top: 100px;
  text-transform: uppercase;
}
.react-responsive-modal-modal {
  background: #fff;
  width: 30%;
}
.category-dropdown {
  width: 100%;
  float: left;
  height: auto;
}
.category-dropdown .dropdown {
  width: auto;
  float: left;
}
.category-text {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #fff !important;
  font-weight: 500;
  text-transform: uppercase;
}
.search-product {
  display: inline-block;
  float: left;
  font-size: 14px;
  height: 20px;
  line-height: 24px;
  width: 95%;
  color: #696e79;
  box-sizing: content-box;
  padding: 8px 10px 10px;
  margin: 0;
  outline: 0;
  border: 1px solid #f5f5f6;
  border-radius: 0 4px 4px 0;
  border-left: 0;
  background: #f5f5f6;
}
.fa-search {
  color: gray;
}
.users {
  float: right;
}
.fa-user {
  color: #fff;
}
.teststyleLEFT {
  left: 0 !important;
}
.teststyleRIGHT {
  left: 40%;
}
.bannerContent {
  font-size: 18px;
  font-weight: 500;
  padding: 15px;
  text-align: center;
}
.bannerHeading {
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
}
.bannervorder {
  border: 0.1px solid orange;
  width: 30%;
  margin: 5px;
}
.category-lastslider {
  height: 95%;
}
.category-lastslider img {
  width: 100%;
  margin-top: 10px;
  height: 100%;
}
.sidebar {
  flex: 0 0 280px;
  max-width: 280px;
  padding: 0 10px 0 0;
  background: rgb(0 0 0 / 10%);
  box-shadow: 10px 10px 8px 10px #dee2e624;
  max-height: fit-content;
  height: fit-content;
}
.sidebar-widget .title {
  position: relative;
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 15px;
  color: #000;
  font-family: inherit;
}
.sidebar-widget.category .navbar li {
  font-size: 14px;
}

.homefooter-content h1{
  font-weight: 600;
  font-size: 16px;
}

.enquirySuccess{
  text-align: center;
}

.successIcon{
  font-size: 56px;
  color: #2f5e8e;
}

.successText{
  color: #2f5e8e;
  font-size: 20px;
  padding: 0px;
}

.title h1{
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
}

.productSpec h5{
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

.productSpec-desc{
  font-size: 14px;
  font-weight: 500;
  font-size: 16px;
  color: gray;
  line-height: 1.5em;
}

.productDetail-btn{
  background: orange;
  border: orange;
  color: #fff !important;
  margin-left: 20px;
}

.specification-head{
  font-size: 20px;
  color: #000000ad;
  font-weight: 500;
}

.specification-p{
  color: gray;
}

.specification-p h5{
  border-bottom: 1px solid;
  width: 40%;
  padding: 10px;
  font-size: 16px;
  color: #000;
}

.specification-p table{
  margin: 15px;
}

.category-page-content h1{
  background: #696e7914;
  padding: 10px;
  width: 100%;
  text-align: center;
}

.blog-short-text{
  font-size: 15px;
  color: gray;
  text-align: center;
}

.blog-title{
  color: #000000;
  font-size: 18px;
  text-align: center;
}

.card-shadow{
  /* box-shadow: 2px 2px 2px 2px #bbbbbb; */
  float: left;
  margin-left: 10px;
  padding: 0px;
  width: 32%;
}

.read-more-btn{
  color: #fff;
  background: orange;
  padding: 10px;
  border-radius: 5px;
  margin-left: 35%;
}

.blog-maintitle{
  color: #000000;
  font-size: 26px;
  margin-top: 15px;
  text-align: center;
  font-weight: 400;
}
.blog-block2{
  float: left;
}
.blog-main{
  margin-top: 8%;
}

.blog-content{
  padding: 15px;
}

.blog-block2{
  padding: 15px;
  background: #cec7c7;
  color: #000000;
  font-size: 16px;
  width: 20%;
  font-weight: 400;
  text-align: center;
  height: 500px;
}

.blog-block2 h2{
  font-size: 22px;
  font-weight: 400;
}